/*== Top page ==*/

.app-wrap {
  display: flex;
}

.chart-wrap {
  flex: 50%;
}

.contributions-wrap {
  flex: 50%;
}

/*== Components ==*/

/*= Network graph =*/

svg .link {
  stroke-width: 1px;
  stroke: #eee;
}

svg .node-shape{
  stroke-width: 1px;
  stroke: #eee;
}

svg .node-shape.selected{
  stroke-width: 3px;
  stroke: #faa;
}

svg .label {
  cursor: pointer;
  text-align: center;
}

svg .label span{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

/*= Contribution list =*/

.contribution-list-title {
  font-size: 2em;
  font-weight: 300;
  padding:  0 15px 5px 15px;
}

.contribution-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contribution-list > li {
  margin-bottom: 10px;
  padding: 0 15px 5px 15px;
}

.contribution-list .contribution-title {
  padding-bottom: 2px;
  font-size: 1.1em;
  font-weight: 500;
}

.contribution-list .contribution-body {
  max-height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
}

.contribution-list .vote-count {
  padding-top: 3px;
  font-weight: 500;
}

/*= Misc. =*/

.word-cloud {
  cursor: pointer;
}

.tooltip {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 2px;
  box-shadow: 3px 3px 2px 3px #ccc;
  margin-right: 7px;
}
