.App {
  text-align: center;
}

.App-header {
  background-color: white; /* #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #282c34;;
}

.App-link {
  color: #61dafb;
}
