/*== Top page ==*/

.app-wrap {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

.chart-wrap {
  flex: 50% 1;
}

.contributions-wrap {
  flex: 50%;
  overflow: scroll;
}

/*== Components ==*/

/*= Network graph =*/

svg .link {
  stroke-width: 1px;
  stroke: #eee;
}

svg .node-shape{
  stroke-width: 1px;
  stroke: #eee;
}

svg .node-shape.selected{
  stroke-width: 3px;
  stroke: #faa;
}

svg .label {
  cursor: pointer;
  text-align: center;
}

svg .label span{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

/*= Contribution list =*/

.contribution-list-title {
  font-size: 2em;
  font-weight: 300;
  padding:  0 15px 5px 15px;
}

.contribution-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contribution-list > li {
  margin: 10px 15px 15px 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.contribution-list .contribution-title {
  padding-bottom: 2px;
  font-size: 1.1em;
  font-weight: 500;
}

.contribution-list .contribution-body{
  margin-bottom: 5px;
}

.contribution-list .contribution-body .text{
  max-height: 80px;
  overflow: hidden;
}

.contribution-list .contribution-body .mask{
  height: 30px;
  width: 100%;
  margin-top: -30px;
  opacity: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(230,230,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.contribution-list .contribution-body .text.expanded {
  max-height: none;
}

.contribution-list .bottom{
  /*padding-top: 5px;*/
  display: flex;
  justify-content: space-between;
}

.contribution-list .buttons {
  align-self: center;
}

.buttons button{
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #aaa;
}

.contribution-list .vote-count {
  font-weight: 500;
  align-self: center;
}

/*= Misc. =*/

.word-cloud {
  cursor: pointer;
}

.tooltip {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 2px;
  box-shadow: 3px 3px 2px 3px #ccc;
  margin-right: 7px;
}
